### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [23]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

In [24]:
# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file_to_load)

In [25]:
#head= top  tail= bottom of data

df.head(3)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88

## Player Count

* Display the total number of players

In [26]:
#Retrieved all of the players

x=len(df["SN"])

In [27]:
#create a variable with x (answers more details)

print(f'total num of players is {x}')

total num of players is 780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [28]:
#obtain the number of unique items (Item Name)
#value counts=unique items
#len = how many

len(df["Item Name"].value_counts())

179

In [29]:
#calculate number of unique items, set to variable
#stored the length of the Item Names

unique_items=len(df["Item Name"].unique())

In [30]:
#Calculate the average price
#put a period when adding to calculations

avg_price=df.Price.mean()

In [31]:
#Calculate the number of purchases
#Store the variable

Number_of_Purchases=df["Purchase ID"].count()

In [32]:
#Name and store the variable

Total_Revenue=df.Price.sum()

In [33]:
#Build my data frame

Summary=pd.DataFrame({"Unique Items":[unique_items],
             "Average Price":[avg_price], "Total Number of Purchases":[Number_of_Purchases], "Total_Revenue": [Total_Revenue]})

In [34]:
Summary

   Unique Items  Average Price  Total Number of Purchases  Total_Revenue
0           179       3.050987                        780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [35]:
#Group purchase data by gender
#Create the variable
gender_stats =df.groupby("Gender")

In [36]:
#Count the total number of SN and group by gender

Total_Count_Gender = gender_stats.nunique()["SN"]

In [37]:
#Obtain the percentage of players by dividing the total count gender by the total num of players(x)

Percentage_of_Players = Total_Count_Gender / (x) *100

In [38]:
#Create the data frame

Gender_Demographics = pd.DataFrame({"Total Count": Total_Count_Gender, "Percentage of Players": Percentage_of_Players})

In [39]:
#Format the values. #Total count in descending order. #2 decimal places for the percentage

#Gender_Demographics.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players": "{:.2f}"})
#Print Data Frame

Gender_Demographics

                       Total Count  Percentage of Players
Gender
Female                          81              10.384615
Male                           484              62.051282
Other / Non-Disclosed           11               1.410256


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [40]:
#Count the total number of purchases by gender and create variable

Purchase_Count = gender_stats["Purchase ID"].count()

In [41]:
#Average_Purchase_Price and create variable

Average_Purchase_Price = gender_stats["Price"].mean()

In [43]:
#Average purchase total by gender (sum) and create a variable

Average_Purchase_Total = gender_stats["Price"].sum()

In [44]:
#Create variable for total purchase value

Average_Purchase_Per_Person = Average_Purchase_Total/Total_Count_Gender

In [45]:
#Create the Data Frame

Purchasing_Analysis = pd.DataFrame({"Purchase Count": Purchase_Count,
                                    "Average Purchase Price": Average_Purchase_Price, "Total Purchase Value": Average_Purchase_Total,
                                   "Average Total Purchase per Person": Average_Purchase_Per_Person})

#Format
Purchasing_Analysis.style.format({"Average Purchase Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}",
                                  "Average Total Purchase per Person":"${:,.2f}"})

In [46]:
Purchasing_Analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Purchasing Analyis (Age)

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [47]:
age_df =pd.DataFrame(df)

#Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]

#Establish group names
group_names = ["<10", "10-14", "15-19", "20-24","25-29","30-34", "35-39", "40+"]

In [48]:
age_demo_group = age_df.groupby(pd.cut(age_df["Age"], age_bins, labels=group_names))

In [49]:
#Create age demmo df

age_demo_df=pd.DataFrame({"Purchase Count": age_demo_group["Price"].count(), "Average Purchase Price": age_demo_group["Price"].mean(),
                          "Total Purchase Value":age_demo_group["Price"].sum(),"Normalized Totals": age_demo_group["Price"].sum()/age_demo_group["SN"].nunique()})

In [52]:
#Average_Purchase_Price

age_demo_df["Average Purchase Price"]= age_demo_df["Average Purchase Price"]

In [53]:
#Calculate the Total Purchase Value and format to 2 decimal places

age_demo_df["Total Purchase Value"] = age_demo_df["Total Purchase Value"].map("${:.2f}".format)

In [54]:
#Calculate Normalized Totals and format

age_demo_df["Normalized Totals"] = age_demo_df["Normalized Totals"].map("${:.2f}".format)

In [55]:
#Display the data frame

age_demo_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Age,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Age Demographics

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [56]:
#Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]

#Establish group names
group_names = ["<10", "10-14", "15-19", "20-24","25-29","30-34", "35-39", "40+"]

In [62]:
df["Age Group"] = pd.cut(df["Age"],age_bins, labels=group_names)
df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [65]:
age_grouped = df.groupby("Age Group")

In [66]:
total_count_age = age_grouped["SN"].nunique()

In [68]:
#Calculate the percentages by age (x= total players)

percentage_by_age =(total_count_age/x)*100

In [69]:
#Create a data frame

age_demographics =pd.DataFrame({"Percentage of Players": percentage_by_age, "Total Count": total_count_age})

In [70]:
#Format

age_demographics.index.name = None

In [71]:
#Format Percentages

age_demographics.style.format({"Percentage of Players":"{:,.2f}"})

## Top Spenders

In [76]:
#Group purchase data by screen names  create variable


spender_stats = df.groupby("SN")

In [77]:
#Count the purchases

purchase_count_spender = spender_stats["Purchase ID"].count()

In [78]:
#Calculate the average purchase by name

average_purchase_price_spender = spender_stats["Price"].mean()

In [79]:
#Calculate total purchase

purchase_total_spender = spender_stats["Price"].sum()

In [80]:
#Create df

top_spenders = pd.DataFrame({"Purchase Count": purchase_count_spender,
                            "Average Purchase Price": average_purchase_price_spender,
                            "Total Purchase Value": purchase_total_spender})

In [84]:
#Format the df
formatted_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()
formatted_spenders.style.format({"Average Purchase Total": "${:,.2f}",
                                 "Average Purchase Price": "${:,.2f}",
                                 "Total Purchase Value":"${:,.2f}"})



# Print the df
top_spenders

               Purchase Count  Average Purchase Price  Total Purchase Value
SN
Adairialis76                1                2.280000                  2.28
Adastirin33                 1                4.480000                  4.48
Aeda94                      1                4.910000                  4.91
Aela59                      1                4.320000                  4.32
Aelaria33                   1                1.790000                  1.79
...                       ...                     ...                   ...
Yathecal82                  3                2.073333                  6.22
Yathedeu43                  2                3.010000                  6.02
Yoishirrala98               1                4.580000                  4.58
Zhisrisu83                  2                3.945000                  7.89
Zontibe81                   3                2.676667                  8.03

[576 rows x 3 columns]

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [85]:
#Create a new dataframe with Items

items=df[["Item ID", "Item Name", "Price"]]

In [86]:
#Group the item data by item id and item name

item_stats=items.groupby(["Item ID", "Item Name"])

In [87]:
# Count the number of times an item has been purchased

purchase_count_item = item_stats["Price"].count()

In [88]:
#Calculate the purchase value per item

purchase_value =(item_stats["Price"].sum())

In [89]:
#Find the individual item price

item_price = purchase_value/purchase_count_item

In [90]:
#Create the data frame

most_popular_items=pd.DataFrame({"Purchase Count": purchase_count_item,
                                "Item Price": item_price,
                                "Total Purchase Value": purchase_value})

In [92]:
#Sort the data

popular_formatted = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()

#Format with currency style
popular_formatted.style.format({"Item Price":"${:,.2f}",
                               "Total_Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [93]:
#Sort the table by total purchase value in decending order

popular_formatted =most_popular_items.sort_values(["Total Purchase Value"],ascending=False).head()

#Format currency style
popular_formatted.style.format({"Item Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}"})